.downyata {
   font-family: monospace;
}

.col {
   display: flex;
}

.a {
   filter: contrast(300%);
}

.stat {
   padding: 10px 20px;
   border-radius: 5px;
   background-color: #eee;
   width: fit-content;
}

.gostinnia {
   filter: contrast(3000%) invert(100%);
}

.gosti {
   margin-left: 100px;
}

.nameV {
   font-weight: 900;
}

.magistral {
   display: flex;
   margin-top: 10px;
   margin-left: 10px;
   position: relative;
}

.road {
   width: 134px;
   height: 100px;
}

.train {
   position: absolute;
   top: 30px;
   left: 0;
   width: 30px;
   height: 30px;
   background-color: red;
}

.magistral__sity {
   position: absolute;
   top: -30px;
   display: flex;
}
.magistral__sity::before {
   content: "";
   position: absolute;
   top: 20px;
   height: 120px;
   width: 3px;
   background-color: lightcoral;
}

.elevator {
   height: 900px;
   padding: 10px;
   background-color: black;
   width: fit-content;
}

.cabine {
   width: 60px;
   height: 80px;
   background-color: red;
   border-radius: 4px;
}
